@mixin primary-font {
	background-color: $secondary-color-light;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
}

@mixin dark-section {
	background-color: $primary-color-dark;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

@mixin transparent-section {
	border: 3px dashed $primary-color-dark;
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
	font-size: 22px;
	font-weight: 400;
	color: $primary-color-dark;
}