//Breakpoints
$break-large: "screen and (min-width: 1200px)";
$break-small: "screen and (min-width: 768px)";

//Colors
$primary-color-dark: #4B4D52;
$primary-color-light: #FFF2E7;
$color-highlight: #DE8642;
$secondary-color-dark: #B9B1A8;
$secondary-color-light: #D0CABF;

//Font-sizes
$main-title-font-size: 48px;

//Widths
$picture-width: 200px;

//Filters
$black-and-white-filter: grayscale(100%);